<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container-fluid mt-4 mb-2">
    <div class="row row-cols-1 row-cols-md-5 row-cols-sm-3 g-4">
        <% games.forEach(game => { %>
        <div class="col d-flex justify-content-center">
            <a href="/game/<%= game.appid %>" class="text-decoration-none">
                <div class="card my-auto" style="width: 20rem;">
                    <div class="game">

                        <img class="card-img-top"
                            src="https://cdn.cloudflare.steamstatic.com/steam/apps/<%= game.appid %>/header.jpg"
                            alt="<%= game.name %>"
                            onerror="this.src='https://via.placeholder.com/200x150?text=No+Image';">

                        <div class="card-body">
                            <p class="card-text fw-bold text-center"><%= game.name %></p>
                            <hr>
                            <p class="card-text text-center fw-bold"><%= game.price %></p>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <% }) %>
    </div>
</div>

<div class="pagination justify-content-center my-5">
    <% if (currentPage > 1) { %>
    <a class="btn btn-primary mx-1"
        href="/?page=<%= currentPage - 1 %><%= searchQuery ? '&search=' + searchQuery : '' %>">&lt;</a>
    <% } %>

    <% if (currentPage > 3) { %>
    <a class="btn btn-primary mx-1" href="/?page=1<%= searchQuery ? '&search=' + searchQuery : '' %>">1</a>
    <span>...</span>
    <% } %>

    <% for (let i = Math.max(1, currentPage - 2); i <= Math.min(totalPages, currentPage + 2); i++) { %>
    <a class="btn btn-primary mx-1" href="/?page=<%= i %><%= searchQuery ? '&search=' + searchQuery : '' %>"
        class="<%= currentPage === i ? 'active-page' : '' %>"><%= i %></a>
    <% } %>

    <% if (currentPage < totalPages - 2) { %>
    <span>...</span>
    <a class="btn btn-primary mx-1"
        href="/?page=<%= totalPages %><%= searchQuery ? '&search=' + searchQuery : '' %>"><%= totalPages %></a>
    <% } %>

    <% if (currentPage < totalPages) { %>
    <a class="btn btn-primary mx-1"
        href="/?page=<%= currentPage + 1 %><%= searchQuery ? '&search=' + searchQuery : '' %>">&gt;</a>
    <% } %>
</div>

<%- include('partials/footer.ejs') %>